body {
    background-image: linear-gradient(87deg, #1c1322 3%, #150e1b 9%, #27131d 89%, #3b1c2c);
    min-height: 100svh;
}

::-webkit-scrollbar {
    width: .5em;
    height: 1em;
}

::-webkit-scrollbar-track {
    background-color: hsla(120, 20%, 30%, 20%);
    border-radius: 100vw;
    margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
    background: #5f440b;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    border: 3px solid #324111;
    background-color: rgb(250, 53, 53);
}

#toggle-sidebar-menu {
    position: fixed;
    z-index: 100;
}

@media (width >=570px) {
    #toggle-sidebar-menu {
        left: 1rem;
        top: 50%;
    }
}

@media (max-width: 570px) {
    #toggle-sidebar-menu {
        left: 1rem;
        bottom: 1rem;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #311724;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 2s;
    pointer-events: none;
}

.loader svg {
    animation: loader 10s infinite;
    transition: opacity 2s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(360deg);
    }

    35% {
        transform: rotate(-270deg);
    }

    50% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(360deg);
    }

    90% {
        transform: rotate(-180deg);
    }
}